<% provide(:title, @user.name) %>
<div class="row-fluid">
	<aside class="span4">
		<section>
			<h1> <%= gravatar_for @user, {size: 40} %>
			<%= @user.name %> </h1>

		</section>
	</aside>
	<div class="span8">
		<h3>Zdobyte punkty <%= @user.points %></h3>
		<h3>Obstawione mecze</h3>
		<% @user.matches.each do |match| %>
		<%= link_to match.name, match %>
		<br />
		<% end %>
	</div>
</div>
