<div class="center hero-unit">
<h1>Witaj w zabawie w typowanie wyników meczów euro:)</h1>

<strong>
	Jeśli nie posiadasz konta, musisz je założyć.<br />
	Jeśli konto było już założone, wystarczy się zalogować.
</strong>

<p class="center" style="padding: 10px;">
<%= link_to "Załóż konto", signup_path, class: "btn btn-large btn-primary"  %>
<%= link_to "Zaloguj się", signin_path, class: "btn btn-large"  %>
</p>
</div>
