<div class="row">
  <aside class="span4">
    <section>
    
    </section>
    <section>

    </section>
    <section>
    </section>
  </aside>
  <div class="span8">
    <h3>Zakłady</h3>
  </div>
</div>
