<table class="table table-bordered table-condensed table-striped">
	<thead>
		<tr>
			<th>Kto gra</th>
			<th>Wynik</th>
		</tr>
	</thead>
	<tbody></tbody>
	<% @match.bets.each do |bet| %>
	<tr>
		<td><%= gravatar_for bet.user, {size: 16} %>
		<%= link_to bet.user.name, bet.user %></td>
		<td><%= bet.score if @match.betsend? %></td>
	</tr>
	<% end %>
	</tbody>
</table>